<!doctype html>
<html lang="en">

<head>

  <title>UnaBJJ</title>
  <!-- fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/material-kit.css" rel="stylesheet" />

</head>

<body class="landing-page">


  <nav class="navbar navbar-transparent navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>

        <a class="navbar-brand" href="#"><img src="../una_logo.png" alt="no image"></a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-example">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://www.instagram.com/explore/tags/unabjj/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
    							<i class="fa fa-instagram"></i>
    						  </a>
          </li>
          <li>
            <a href="https://www.facebook.com/UnaBjj/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							  <i class="fa fa-facebook-square"></i>
						    </a>
          </li>


          <li> <button class="btn btn-white btn-simple btn-lg">Current Students</button> </li>



          <li> <a href="#" style="font-size:14px;" class="btn btn-info btn-raised btn-md btn-round" data-toggle="modal" data-target="#myModal">
                                                                          START FREE TRIAL
                                                                          </a></li>


          <li>
            <a href="#" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							  <i class="fa fa-am"></i>
						    </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>






  <div class="wrapper">

    <div class="header header-filter" >
      <video id="bgvid" playsinline autoplay muted loop>
    <source src="../UnaBJJ.mp4" type="video/mp4">
      </video>



      <div class="container">



        <div class="row">
          <div class="col-md-6">
            <h1 class="title">One Team <br/> One Family</h1>
            <h4>At UnaBjj we have two 1st degree BlackBelt Brazilian Jiu-Jitsu instructors offering top quality instruction, directly taught by one of the Best Bjj Fighters to come out of Brazil: 5th Degree Blackbelt Master Alexandre Soca Freitas. </h4>
            <br/>

            <!-- Button trigger modal -->
            <button class="btn btn-info btn-raised btn-lg btn-round" data-toggle="modal" data-target="#myModal">
START FREE TRIAL
</button>


          </div>
        </div>
      </div>
    </div>

    <div class="main main-raised">
      <div class="container">
        <div class="section text-center section-landing">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title">UnaBJJ<br/>Small Academy, Big Hearts</h2>
              <!-- <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5> -->
              <h5 class="description">At UnaBJJ we provide a friendly, supportive, learning atmosphere. We want to make sure you find a BJJ Academy thats fits you, so there is never any pressure to sign up. UnaBJJ is equiped with free weights, bench, stationary bikes, treadmill, pull-up and dip station, battle ropes, medicine balls, to experience the total training experience!</h5>
            </div>
          </div>

          <div class="features">
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-primary">
                    <i><img id="bjjIcon" src="../bjjIcon.png" alt=""></i>

                  </div>
                  <h4 class="info-title">Brazilian Jiu-Jitsu</h4>
                  <p>Develop your mind as much as your body by learning self-defense and martial arts with our vigorous physical training. Discover who you are!</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <!-- <i class="material-icons">verified_user</i> -->
                    <i><img id="muayThaiIcon"src="../muayThaiIcon.gif" alt=""></i>
                  </div>
                  <h4 class="info-title">Muay Thai</h4>
                  <p>Increase your strength, conditioning, and mobility while learning an aresenal of offensive moves. Build your confidence!</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">face</i>
                  </div>
                  <h4 class="info-title">Children's BJJ</h4>
                  <p>Learn positive values, reinforce good habits, and self-confidence. In their personal, academic, or career journey, here they learn: Never Give Up!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section text-center">
          <h2 class="title">Meet Our Instructors</h2>

          <div class="team">
            <div class="row">
              <div class="col-md-4">
                <div class="team-player">
                  <img src="../Fred_crop.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                  <h4 class="title">Frederick C. Villarica<br />
										<small class="text-muted">Chief Instructor & Owner of UnaBJJ</small>
									</h4>
                  <p class="description">
                    Fred began training Under Black Belt Legend Alexandre Soca Freitas until Fred attained the rank of Black Belt in Brazilian Jiu Jitsu at the age of 28. Tournaments: NAGA Gold, GRAPPLERSQUEST Gold, IBJJF medalist from Purplebelt to Blackbelt, and Abu Dhabi
                    Pro Blackbelt Bronze.</p>


                  <!-- You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p> -->
                  <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
                  <a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a>
                </div>
              </div>


              <div class="col-md-4">
                <div class="team-player">
                  <img src="../Alonzo.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                  <h4 class="title">Alonzo Rodriguez<br />
										<small class="text-muted">Co-Instructor of UnaBJJ</small>
									</h4>
                  <p class="description">
                    At 145 lbs. Alonzo has relied mainly on technique in order to win tournaments and is sometimes referred to as “one of the best coaches in New York”. Tournaments he has competed in and won Gold Medals in are: Pan Ams, Long Island Pride BJJ, NAGA and Alonzo
                    continues his devotion to training in Jiu Jitsu.
                  </p>
                  <!-- ou can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p> -->
                  <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="../no_image.jpg" alt="Thumbnail Image" class="img-raised img-circle">
                  <h4 class="title">Kevin Enriler<br />
										<small class="text-muted">Muay Thai Instructor of UnaBJJ</small>
									</h4>
                  <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-google-plus"></i></a>
                  <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-youtube-play"></i></a>
                  <a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="section landing-section">




          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center title">Contact Us</h2>
              <!-- <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4> -->
              <h4 class="text-center description">We understand that starting BJJ can be intimidating and new students can feel nervous. Don't worry! In conjunction to a strong Fundamentals Program, we will work hard to  encourage a supportive, learning atmosphere at all times: One Family Environment. </br> </br> Please contact us with any questions or concerns, and we can start your BJJ journey!</h4>

              <form class="contact-form">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label">Name</label>
                      <input type="textarea" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label">Email</label>
                      <input type="email" class="form-control" required>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label">Phone</label>
                      <input type="number" class="form-control" required>
                    </div>
                  </div>

                </div>

                <div class="col-md-12">
                  <div class="form-group label-floating">
                    <label class="control-label">Your Message</label>
                    <textarea class="form-control" rows="4"></textarea>
                  </div>
                </div>


                <div class="row">

                  <div class="col-md-4 col-md-offset-4 text-center">

                    <!-- test -->
                    <button type="Submit" class="btn btn-info btn-raised btn-lg btn-round">
                      Send
                    </button>


                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>

      </div>

    </div>

    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
            </li>
            <li>
            </li>
            <li>
            </li>
            <li>
            </li>
          </ul>

        </nav>



        <div class="copyright pull-right">
          &copy; 2017, made with <i class="fa fa-heart heart"> </i> by izzie

        </div>

      </div>

    </footer>


  </div>

  </div>



  <!-- test -->

  <!-- Sart Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">






          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="material-icons">clear</i>
            </button>
          <h4 class="modal-title">UnaBJJ Registration</h4>
        </div>
        <div class="modal-body">

          <div class="form-group label-floating">
            <input type="text" value="" class="form-control" />
            <label class="control-label">Full Name</label>
          </div>

          <div class="form-group label-floating">
            <input type="email" value="" class="form-control" />
            <label class="control-label">Email</label>
          </div>

          <div class="form-group label-floating">
            <input type="number" value="" class="form-control" required/>
            <label class="control-label">Phone Number</label>
          </div>

          <p>Tell us what you would like to get out of training at UnaBJJ</p>

          <div class="checkbox">
            <label><input type="checkbox" name="optionsCheckboxes">
              Practical Self Defense</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" name="optionsCheckboxes">
              Get in Shape</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" name="optionsCheckboxes">
              Build Confidence</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" name="optionsCheckboxes">
              Safer Sparring than Striking Martial Arts</label>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" name="optionsCheckboxes">
              More Fun Than a Regular Gym</label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-simple">cancel</button>
          <!-- <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Submit</button> -->
          <button type="button" class="btn btn-info btn-raised btn-md btn-round" data-dismiss="modal">SIGN UP</button>


        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->

  <!-- test -->
</body>

<!--   Core JS Files   -->
<script src="../assets/js/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/material.min.js"></script>
<!-- TESTING -->
<script src="../assets/js/stuff.js"></script>



<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets/js/nouislider.min.js" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="../assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="../assets/js/material-kit.js" type="text/javascript"></script>

</html>

<!-- ##################### -->
